
.MD-burger-icon {
  margin: 0pc 0px 0px 1pc;
  cursor: pointer;
  border: none;
  background: none;
  outline: 0;
  height: 15px;
  position: fixed;
  top: 2pc;
  z-index: 997;
}
.MD-burger-layer {
  display: block;
  width: 20px;
  height: 2px;
  background: #eee;
  position: relative;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.MD-burger-layer:before, .MD-burger-layer:after {
  display: block;
  width: inherit;
  height: 2px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.MD-burger-layer:before {
  bottom: 5px;
}

.MD-burger-layer:after {
  top: 5px;
}

.MD-burger-arrow {
  -webkit-animation-name: MD-burger-icon-arrow;
          animation-name: MD-burger-icon-arrow;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.MD-burger-arrow:before {
  -webkit-animation-name: MD-burger-icon-before-arrow;
          animation-name: MD-burger-icon-before-arrow;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.MD-burger-arrow:after {
  -webkit-animation-name: MD-burger-icon-after-arrow;
          animation-name: MD-burger-icon-after-arrow;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.MD-burger-line {
  -webkit-animation-name: MD-burger-icon-line;
          animation-name: MD-burger-icon-line;
}

.MD-burger-line:before {
  -webkit-animation-name: MD-burger-icon-before-line;
          animation-name: MD-burger-icon-before-line;
}

.MD-burger-line:after {
  -webkit-animation-name: MD-burger-icon-after-line;
          animation-name: MD-burger-icon-after-line;
}

@-webkit-keyframes MD-burger-icon-arrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes MD-burger-icon-arrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes MD-burger-icon-before-arrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes MD-burger-icon-before-arrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@-webkit-keyframes MD-burger-icon-after-arrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes MD-burger-icon-after-arrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@-webkit-keyframes MD-burger-icon-line {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
  }
}

@keyframes MD-burger-icon-line {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
  }
}

@-webkit-keyframes MD-burger-icon-before-line {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes MD-burger-icon-before-line {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@-webkit-keyframes MD-burger-icon-after-line {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes MD-burger-icon-after-line {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}
